# Home Trainer 1.0 - Dependencias
# Práctica 2: IPM mediante visión por computador
# Python 3.12
numpy>=1.24.0,<2.0
opencv-python>=4.8.0,<4.9
mediapipe>=0.10.0,<0.11
requests>=2.31.0,<3.0
tqdm>=4.66.0,<5.0
